/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: Verdana, Arial, sans-serif;
}

footer {
    font-size: 11px;
    padding-top: 10px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {

}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.brand img {
    padding-left: 10px;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
    font-size: 11px;
}

.dropdown-menu a {
    font-size: 11px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 20px;
}

.carousel {
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
}

/*FADE*/
.carousel.c-fade .item {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.carousel.c-fade .active.left,
.carousel.c-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.c-fade .next,
.carousel.c-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.c-fade .carousel-control {
    z-index: 3;
}
/*FADE*/

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
}

.right {
    margin-right: 15px;
}

.carousel .item {

}

.carousel img {
    max-width: 1000px;
    max-height: 668px;
    margin: 0 auto;
    position: relative;
}

.marketing {
    margin-top: 120px;
}

.marketing a {

}

.marketing p {

}

.marketing .contactInfo {
    text-align: center;
}

.marketing .my-photo {
    float: right;
    padding: 10px;
}


@media (max-width: 979px) {
    .marketing {
        margin-top: 20px;
    }

    .navbar-inner {
        margin: 0;
    }

    .carousel {
        margin-left:auto;
        margin-right:auto;
        width: 760px;
    }

    .carousel img {
        max-width: 760px;
    }
}


@media (max-width: 767px) {
    .marketing {
        margin-top: 20px;
    }

    .navbar-inner {
        margin: 0;
    }

    .carousel {
        margin-left:auto;
        margin-right:auto;
        width: 440px;
    }

    .carousel img {
        max-width: 440px;
    }
}

@media (max-width: 320px) {
    .marketing {
        margin-top: 20px;
    }

    .carousel-control {
        height: 20px;
        font-size: 50px;
    }

    .carousel-control .left {
        margin-left: 0;
    }

    .carousel-control .right {
        margin-right: 0;
    }

    .navbar-inner {
        margin: 0;
    }

    .carousel {
        margin-left:auto;
        margin-right:auto;
        width: 280px;
    }

    .carousel img {
        max-width: 280px;
    }
}
